ul {
    padding: 0;
    margin: auto;
}
.wincover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
}
.gameboard8 {
    display: inline-block;
    position: relative;
    width: 75%;
    float: left;
}
.buttons8 {
    display: inline-block;
    width: 20%;
}
.gameboard8 ul {
    height: 360px;
    width: 288px;
}

.gameboard14 {
    width: 75%;
    float: left;
}
.buttons14 {
    display: inline-block;
    width: 20%;
}

.gameboard14 ul {
    height: 648px;
    width: 504px;
}

.gameboard16 {
    width: 75%;
    float: left;
}
.buttons16 {
    display: inline-block;
    width: 20%;
}

.gameboard16 ul {
    weight: 1080px;
    width: 576px;
}

@media only screen and (max-width: 760px) {
    .gameboard8 {
        width: 100%;
        float: left;
    }
    .buttons8 {
        display: inline-block;
        width: 100%;
    }

    .gameboard14 {
        width: 100%;
        float: left;
    }
    .buttons14 {
        display: inline-block;
        width: 100%;
    }

    .gameboard16 {
        width: 100%;
        float: left;
    }
    .buttons16 {
        display: inline-block;
        width: 100%;
    }
}
