.gameboard {
    width: 75%;
    float: left;
}
.buttons {
    display: inline-block;
    width: 20%;
}

@media only screen and (max-width: 760px) {
    .gameboard {
        width: 100%;
    }
    .buttons {
        width: 100%;
    }
}
